
- if @page.title == 'team'
  = render partial: 'pages/team_members', locals: { team_members: @team_members }
- elsif @page.title == 'events'
  = render partial: 'pages/events', locals: { events: @events }
- elsif @page.title == 'news'
  = render partial: 'pages/news', locals: { news_updates: @news_updates }
- elsif @page.title == 'give'
  = render partial: 'pages/give', locals: { giving_options: @giving_options }
- elsif @page.title == 'home'
  = render partial: 'pages/home', locals: { events: @events }
-else
  %h2= @page.title.titleize
  %h4= @page.content.html_safe
